@import 'compass';
@import "compass/css3";

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  } 
}

$h1width: 50%;

body {
	background-color: #aaa;
}

.centeros {
	width: 85%;
	margin: 0 auto;
}

h1 {
	background: grey;
	color: violet;
	border: 5px solid black;
	width: $h1width;
	float: none;
	font-size:1.5em;
	padding: 0 2%;
	text-align: center;
	font-family: arial, sans-serif;
	text-transform:uppercase;
	@include box-shadow(2px 2px 20px blue);
	@include transition(all .4s ease-in-out);
	@include border-radius(2px);
//	@include opacity(0.7);
	z-index: -1;
	&:hover {
		width: $h1width+10%;
		background-color: yellow;
		font-size: 1.1em;
		@include border-radius(10px);
//		@include opacity(1);
		@include transform(scale(1.4) rotate(1deg) translate(50px, 0px) skew(2deg, 1deg));
		z-index: 200;

	}

}
.main {
	background-color: #aaa;
	font-size: 25px;
	text-align: center;
	width: 100px;
	height: 100px;
	margin: 0 auto;
	background: url('img/qmark.png') #eee;
	@include border-image(url('../img/qmark.png') 330% 10000% 120% stretch);
	animation:myfirst 5s;
	-moz-animation:myfirst 5s; /* Firefox */
	-webkit-animation:myfirst 5s; /* Safari and Chrome */
	-o-animation:myfirst 5s; /* Opera */
	@include keyframes(firstkey) {
		0% {
			background-color: #ffcc33;
		}
		50% {
			background-color: #000;
		}
		100% {
			background-color: #ffcc33;
		}
	}
}

li.bands {
	text-transform: uppercase;
	font: verdana 30px green;
	border:2px solid red;
	display: inline-block;
	padding: 0 5px;
	background-color: lightgrey;

}